ul {
  list-style-type: none;
  width: 100vw;
  margin: 0 auto; padding: 0; overflow: hidden;
  background-color: #2d3a82;
  position: -webkit-sticky; position: sticky; top: 0;
}

li {
  float: left;
}

li a {
  display: block; text-align: center;
  padding: 1.5em; margin-right: 1em; margin-left: 1em;
  text-decoration: none; transition: 0.3s; cursor: pointer;
}

.nav-links:hover {
  color: #ffffff;
}

.nav-links {
  color: #d4d4db;
}
