table {
  width: 92%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  left: 50vw; margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1em;
}

tr:hover {
  background-color: #FAFAFA;
}

.top-row {
	background-color: #FAFAFA;
}

 @media only screen
    and (min-width : 320px)
    and (max-width : 720px){
     table {width: 85vw;}
  }
