table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1em;
}

tr:hover {
  background-color: #FAFAFA;
}

.top-row {
	background-color: #FAFAFA;
}