html, body {
  width: 100vw;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background-color: #F5F5F5;
}

#splash {
  position: relative; top: 0;
  width: 100vw; height: 75vh;
  background-color: #002663;
  z-index: 20;
}

#header {
  width: 15em;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -65%);
  padding: 1em 0 0 .5em; line-height: 0; text-align: center;
}

.desktop {display: block;}
.mobile {display: none;}

.question {
  font-style: italic; margin-bottom: 0;
}

.answer {
  margin-left: 3em;
}

.section-container {
  position: absolute; width: 50%; left: 50%; transform: translateX(-50%); margin: 0 auto;
}

.section {
   padding: 0 0 5em 0;
}

#about {
  padding-top: 5em;
}

#faq {
  padding-top: 5em;
}

.outline-button {
  border: solid 1px white;
  background-color: transparent;
  padding: .5em 1.5em .5em 1.5em;
  cursor: pointer; text-decoration: none;
  transition: 0.3s;
}

.outline-button:hover {
  background-color: white;
  color: #002b70;
}

#social {
  background-color: #002b70;
  padding: 5em 0 5em 0;
  width: 100vw;
  transform: translateX(-25%);
  text-align: center;
}

#footer {
  width: 100vw; padding: 1.5em 0 1.5em 0; bottom: 0;
  background-color: #002663;
  transform: translateX(-25%);
}

#copyright {
  color: #F5F5F5; font-weight: 100;
  text-align: center;
}

@media screen and (max-width: 768px) {
      .mobile {display: block;}
      .desktop {display: none;}
}
