html, body {
  width: 100vw;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-color: #F5F5F5;
}

#header {
  background-color: #3f51b5; width: 100vw; height: 200px;
}

#footer {
  width: 100vw; padding-top: 25px; padding-bottom: 25px;
  background-color: #3f51b5;
  text-align: center;
  left: 0;
  margin: 0 auto;
  position: absolute;
}

.header-container {
  padding-left: 25px;
  top: 50%;
  vertical-align: middle;
  padding-top: 1.5em;
}

.header-text {
  padding-left: 175px;
}

.container {
	width: 60vw;
	left: 50%;
	height: 100vh;
	margin: auto;
}

.card {
	margin-top: 100px;
  margin-bottom: 100px;
	background-color: white;
}

.card-container {
	padding: 50px;
}

hr {
	background-color: #d6d6d6; height: 1px; border: 0;
}

.outline-button {
  border: 1px solid; border-color: #3f51b5; background-color: transparent; color: #3f51b5;
  padding: 0.5em; transition: 0.5s; cursor: pointer; text-decoration: none;
}

.outline-button:hover {
  background-color: #3f51b5; color: white;
}

.header-img {
  width: 100px; height: 100px; position: absolute;
  padding-left: 25px;
  vertical-align: middle;
  padding-top: 1.5em;
}

.desktop-only { display: block; }
.mobile-only { display: none; }

@media only screen
   and (min-width : 320px)
   and (max-width : 720px){
    .container { width: 90vw; }
    .desktop-only { display: none; }
    .mobile-only { display: block; }
 }
