html, body {
  width: 100vw;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background-color: #F5F5F5;
}

#header {
  background-color: #3f51b5; width: 100vw; height: 200px;
}

#footer {
  width: 100vw; padding: 1.5em 0 1.5em 0;
  background-color: #3f51b5;
  transform: translateX(-20%);
  text-align: center;
}

.header-container {
  padding-left: 25px;
  top: 50%;
  vertical-align: middle;
  padding-top: 1.5em;
}

.container {
	width: 60vw;
	left: 50%;
	height: 100vh;
	margin: auto;
}

.card {
	margin-top: 100px;
  margin-bottom: 100px;
	background-color: white;
}

.card-container {
	padding: 50px;
}

hr {
	background-color: #d6d6d6; height: 1px; border: 0;
}

.outline-button {
  border: 1px solid; border-color: #3f51b5; background-color: transparent; color: #3f51b5;
  padding: 0.5em; transition: 0.5s; cursor: pointer;
}

.outline-button:hover {
  background-color: #3f51b5; color: white;
}