@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.header {
	font-family: "Roboto"; font-weight: 300; font-size: 3px;
}

.header-bold {
	font-family: "Roboto"; font-weight: 400; font-size: 3em;
}

.header-small {
	font-family: "Roboto"; font-weight: 400; font-size: 1.5em;
}

.header-small-bold {
	font-family: "Roboto"; font-weight: 700; font-size: 1.5em;
}

.subtitle {
	font-family: "Roboto"; font-weight: 400; font-size: 1em;
}

.subtitle-bold {
	font-family: "Roboto"; font-weight: 500; font-size: 1em;
}

.body {
	font-family: "Roboto"; font-weight: 400; font-size: 1em;
}

.body-bold {
	font-family: "Roboto"; font-weight: 700; font-size: 1em;
}

.button {
	font-family: "Roboto"; font-weight: 500; font-size: 0.875em;
}

.caption {
	font-family: "Roboto"; font-weight: 400; font-size: 0.75em;
}

.overline {
	font-family: "Roboto"; font-weight: 400; font-size: 0.625em;
}

.white-text {
	color: white;
}

.black-text {
	color: black;
}